body, html {
  background: #0e0d15;
  color: #c5c6c7;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #111c4a;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0c3256;
}

.header-main {
  position: relative;
  z-index: 999;
  top: 0;
}

.navbar {
  background: transparent;
  transition: background 0.3s ease, border-bottom 0.3s ease, box-shadow 0.3s ease;
  z-index: 1030;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px 20px;
}

.nav-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.navbar.scrolled {
  background: rgba(8, 2, 11, 0.8);
  border-bottom: 2px solid #08588d;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
  border-radius: 0px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar-nav .nav-item .nav-link {
  color: #c5c6c7 !important;
  transition: color 0.3s ease;
  padding: 8px 15px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #7a8bea !important;
}

.container h1 {
  font-size: 8rem;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.8), 0 0 25px rgba(0, 178, 255, 0.7);
  margin: 0;
}

.container .neo {
    font-size: 5rem;
    background: linear-gradient(135deg, #00bfff, #008ad4);
    -webkit-background-clip: text;
    color: transparent;
    padding: 7px;
    font-weight: 700;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);
    margin-left: -0.1rem;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.container .ware {
  font-size: 5rem;
  color: #fff;
  padding: 0px;
  font-weight: 700;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
  display: inline-block;
}

.container p {
  font-size: 1rem;
  opacity: 1;
  margin: 0.5rem 0;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 1.5s;
}

@media (max-width: 768px) {
  .navbar {
    padding: 8px 15px;
    width: 100%px;
  }

  .container h1 {
    font-size: 4rem;
  }
  .container .neo {
    font-size: 2.8rem;
  }
  .container .ware {
    font-size: 2.8rem;
  }
}

@media (max-width: 480px) {
  .container h1 {
    font-size: 2.5rem;
  }
}

.button-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.btn-primary {
  background: rgba(122, 202, 234, 0.8);
  background: rgba(122, 154, 234, 0.1);
  border: none;
  border: 1px solid rgba(122, 137, 234, 0.3);
  color: #7abfea;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  backdrop-filter: blur(5px);
}

.btn-primary:hover {
  background: rgba(122, 154, 234, 0.3);
  color: #ffffff;
  border-color: rgba(133, 122, 234, 0.5);
}

.btn-secondary {
  background: rgba(255, 92, 92, 0.8);
  background: rgba(255, 92, 92, 0.1);
  border: none;
  border: 1px solid rgba(255, 92, 92, 0.3);
  color: #ff5c5c;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  backdrop-filter: blur(5px);
}

.btn-secondary:hover {
  background: rgba(255, 92, 92, 0.3);
  color: #ffffff;
  border-color: rgba(255, 92, 92, 0.5);
}


.sections {
  background: #0e0d15;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sections h1 {
  font-size: 2.5rem;
  animation: slideInDown 1s ease-in-out;
  color: #ffffff;
}

@keyframes slideInDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



.feature-section {
  padding: 60px 20px;
  text-align: left;
  color: #7a8088;
}

.feature-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #3c5cc7;
  margin-bottom: 15px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.feature-section h2::after {
  content: '';
  width: 80px;
  height: 6px;
  background: #2563eb;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%); 
  border-radius: 3px;
}

.feature-card h3 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #56677e;
  margin-bottom: 10px;
  position: relative;
}

.feature-card h3::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #a0aec0;
  position: absolute;
  bottom: -5px;
  left: 0;
  border-radius: 1px;
}

.feature-section p {
  font-size: 1.1rem;
  color: #7a8088;
  margin-bottom: 50px;
  line-height: 1.8;
}

.feature-card {
  background: rgba(28, 35, 52, 0.3);
  border: 1px solid #1f3561; /*#4066b0*/
  margin-top: 20px;
  height: 300px;
  padding: 30px 20px;
  border-radius: 10px;
  position: relative;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.feature-card .feature-icon {
  background: linear-gradient(135deg, rgba(65, 77, 105, 0.3), rgba(83, 131, 235, 0.3));
  font-size: 2rem;
  color: #5383eb;
  margin-bottom: 15px;
  border-radius: 15px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.feature-card .feature-icon:hover {
  transform: scale(1.1);
  color: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, rgba(83, 131, 235, 0.7), rgba(65, 77, 105, 0.7));
}

.feature-card p {
  font-size: 1rem;
  color: #6b7280;
  line-height: 1.6;
  margin-top: 10px;
  transition: line-height 0.3s ease, color 0.3s ease;
}

.feature-card:hover p {
  color: #8b9cb4; 
}


.feature-card a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 25px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  background: #2563eb;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.feature-card a:hover {
  background: #1e40af;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.faq-section {
  margin: 3rem auto;
  padding: 2rem;
  max-width: 1200px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-section h2 {
  /* margin-top: 325px; */
  margin-top: 200px;
  text-align: center;
  font-size: 2rem;
  color: #2852c7;
  margin-bottom: 2rem;
}

.faq-item {
  background: rgba(18, 148, 255, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 1.5rem 0;
  padding: 1.3rem;
  border-radius: 15px;
  border-left: 8px solid #1f3f98;
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s forwards;
}

.faq-item:hover {
  transform: translateX(10px);
  box-shadow: 0 8px 25px rgba(22, 107, 176, 0.25);
  background: rgba(29, 101, 160, 0.2);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.faq-item h3 {
  color: #ffffff;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.faq-item p {
  color: #e1e8f1;
  font-size: 1rem;
  margin: 0;
}

.faq-item:nth-child(1) {
  animation-delay: 0.2s;
}

.faq-item:nth-child(2) {
  animation-delay: 0.4s;
}

.faq-item:nth-child(3) {
  animation-delay: 0.6s;
}

@media (max-width: 768px) {
  .faq-section {
    padding: 1rem;
  }

  .faq-item {
    padding: 3.5rem;
    margin: 1rem 0;
  }

  .faq-section h2 {
    font-size: 1.8rem;
  }

  .faq-item h3 {
    font-size: 1.125rem;
  }

  .faq-item p {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .faq-section {
    padding: 0.5rem;
  }

  .faq-item {
    padding: 1rem;
    margin: 0.8rem 0;
  }

  .faq-section h2 {
    font-size: 1.5rem;
    margin-top: 100px;
  }

  .faq-item h3 {
    font-size: 1rem;
  }

  .faq-item p {
    font-size: 0.875rem;
  }
}


.footer {
  background-color: #0e0d15;
  border-top: 1px solid #333;
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
  padding: 20px 0;
  color: #c5c6c7;
}

.social-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.social-icon {
  color: #c5c6c7;
  background-color: #1e3464;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  transition: transform 0.3s ease;
  font-size: 20px;
}

.social-icon:hover {
  transform: scale(1.1);
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .social-icon {
    right: 10px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 95%;
    margin: 40% auto;
    padding: 15px;
  }

  .modal-content p {
    font-size: 1rem;
  }

  .close {
    font-size: 24px;
  }

  .footer {
    margin-bottom: 40px;
  }
}

.blob {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 350px;
  background: linear-gradient(
    45deg,
    rgba(0, 42, 255, 0.5),
    rgba(0, 162, 255, 0.5)
  );
  border-radius: 0%;
  filter: blur(80px);
  transform: translate(-50%, -50%);
  animation: pulseAndFade 6s ease-in-out forwards;
}

@keyframes pulseAndFade {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 0;
  }
  50% {
    transform: scale(1.1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(1) translate(-100%, -50%);
    opacity: 1;
  }
}

.snowflake {
  position: absolute;
  color: #ffffff;
  font-size: 1rem;
  opacity: 0.8;
  animation: fall linear infinite;
  pointer-events: none;
  white-space: nowrap; 
}

@keyframes fall {
  0% {
    transform: translateX(var(--wind)) translateY(-10vh);
    opacity: 0;
  }
  50% {
    transform: translateX(var(--wind)) translateY(50vh);
    opacity: 1;
  }
  100% {
    transform: translateX(var(--wind)) translateY(100vh);
    opacity: 0;
  }
}

